<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/all.min.css">
    <link rel="stylesheet" href="../css/webfonts">
    <title>Rezika</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand">Navbar</a>
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </nav>
    </header>
    <div class="container-lg"><br>
        <div class="row">
            <div class="col mb-5">
                <button class="btn btn-primary  btn-block">Agregar</button>
            </div>
            <div class="col mb-7">
                <form class="form">
                    <div class="row">
                        <div class="col mb6">
                            <input class="form-control " type="search" placeholder="Search">
                        </div>
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </div>
                </form>
            </div>
        </div>
        <hr>
    </div>
    <div class="container-fluid">
        @!section('content')
        <!-- JS, Popper.js, and jQuery -->
    </div>
</html>